{% extends 'layout.html' %}
{% block title %}Atualizar endereço {% endblock %}
{% block content %}
  <div class="container">
    <h2 style="margin-top:20px;">Atualizar endereço</h2>
    <form 
    action="{% url 'address_update' address.id%}" 
    method="POST"
    {% if form_submitted %}
    class="was-validated"
    {% endif %}
    >
    {% csrf_token %}

      {% include 'my_app/address/address_form.html' %}
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>
{% endblock %}